@import "tailwindcss";
@theme {
  --font-primary:  "Sixtyfour Convergence", "serif";
  --font-secondary: "Geist", "serif";
  --font-tetiary : "Joti One", serif;

  
}

/* .bg{
  background-image: url("./assets/images/background.jpg")
} */